.container {
    margin: 20% auto;
    display: block;
    max-width: 600px;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
}
.value-display {
    margin-top: 10px;
    font-size: 18px;
}